@media screen and (max-width: 768px) {
    .card{
        height: 500px;
        width: 65%;
        margin-top: 10%;
        background: #F5F5F5;
        box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.41);
        border-radius: 20px;
    }
}